@charset "UTF-8";
/* Slider */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Nunito&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: "Slick";
  src: url("/node_modules/slick-carousel/slick/fonts/slick.ttf") format("truetype");
  src: url("/node_modules/slick-carousel/slick/fonts/slick.woff") format("woff");
}
.font-nun {
  font-family: "Nunito", Cursive;
  font-weight: bold;
}

.font-size-1 {
  font-size: 0.8rem;
}

.font-size-2 {
  font-size: 1.9rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-4 {
  font-size: 0.9rem;
}

.left-border {
  border-left: 8px solid #20c997 !important;
  padding-left: 1rem;
}

.img-hover {
  overflow: hidden;
}
.img-hover img {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.img-hover img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .width-lg-50 {
    width: 12.5rem;
  }
}

body {
  font-family: "Inter", Cursive;
}
body a {
  text-decoration: none;
}

.header .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header .navbar .collapse .nav-item {
  padding: 0 0.4rem;
  /* for alternative nav start
  .nav-social {
    @media screen and (max-width: 992px) {
      flex-direction: row;
      justify-content: center;
      font-size: calc(100% * 1.5);

      &__nav-item {
        padding: 0.2rem 0.6rem;
      }
    }
  }
  for alternative nav /end */
}
.header .navbar .collapse .nav-item > a {
  color: white;
}
.header .navbar .collapse .nav-item > a:hover {
  color: #212529;
}
.header .navbar .collapse .nav-item .btn {
  color: white;
}
.header .navbar .collapse .nav-item .btn:hover {
  color: #212529;
}
@media screen and (max-width: 991px) {
  .header .navbar .collapse .nav-item .btn {
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 992px) {
  .header .navbar {
    background: #6930c3;
  }
}

.banner {
  background: url("/assets/backgroundimg1.jpg") no-repeat;
  background-size: cover;
}
.banner .space {
  display: flex;
  justify-content: center;
  padding-top: 14rem;
  width: 100%;
  height: 50rem;
}
.banner .space .buttons .btn {
  margin-right: 0.7rem;
  padding: 0.4rem 1.8rem;
}
.banner .space .buttons .btn:hover {
  background: white !important;
}
.banner .space .buttons .btn:hover > span {
  color: #212529;
}
@media screen and (max-width: 992px) {
  .banner .space {
    padding-top: 10rem;
    height: 43.75rem;
  }
}

.tech,
.security,
.favourite {
  padding: 3rem 0;
}
.tech .title h6 a:hover,
.security .title h6 a:hover,
.favourite .title h6 a:hover {
  color: #555d63 !important;
}
.tech .slider__item,
.security .slider__item,
.favourite .slider__item {
  padding: 0 1rem;
}
.tech .slider__item-title > a,
.security .slider__item-title > a,
.favourite .slider__item-title > a {
  color: #212529;
}
.tech .slider__item-title > .d-flex,
.security .slider__item-title > .d-flex,
.favourite .slider__item-title > .d-flex {
  align-items: center;
}
.tech .slider__item-title > .d-flex > img,
.security .slider__item-title > .d-flex > img,
.favourite .slider__item-title > .d-flex > img {
  width: 1.9rem;
  margin-right: 0.5rem;
}
.tech .slider__item-title > .d-flex > a,
.tech .slider__item-title > .d-flex i,
.tech .slider__item-title > .d-flex span,
.security .slider__item-title > .d-flex > a,
.security .slider__item-title > .d-flex i,
.security .slider__item-title > .d-flex span,
.favourite .slider__item-title > .d-flex > a,
.favourite .slider__item-title > .d-flex i,
.favourite .slider__item-title > .d-flex span {
  padding: 0 0.2rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 1199px) {
  .tech .slider__item-title > .d-flex > a,
.tech .slider__item-title > .d-flex i,
.tech .slider__item-title > .d-flex span,
.security .slider__item-title > .d-flex > a,
.security .slider__item-title > .d-flex i,
.security .slider__item-title > .d-flex span,
.favourite .slider__item-title > .d-flex > a,
.favourite .slider__item-title > .d-flex i,
.favourite .slider__item-title > .d-flex span {
    padding: 0 0.1rem;
    font-size: 0.8rem;
  }
}
.tech .slider__item-title > .d-flex > a:hover,
.security .slider__item-title > .d-flex > a:hover,
.favourite .slider__item-title > .d-flex > a:hover {
  text-decoration: underline;
}
.tech .slider .slick-prev,
.tech .slider .slick-next,
.security .slider .slick-prev,
.security .slider .slick-next,
.favourite .slider .slick-prev,
.favourite .slider .slick-next {
  background: #6930c3;
  color: #f8f9fa;
  top: 103%;
  z-index: 999;
  padding: 15px 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .tech .slider .slick-prev,
.tech .slider .slick-next,
.security .slider .slick-prev,
.security .slider .slick-next,
.favourite .slider .slick-prev,
.favourite .slider .slick-next {
    padding: 15px 38px;
  }
}
.tech .slider .slick-prev:hover,
.tech .slider .slick-next:hover,
.security .slider .slick-prev:hover,
.security .slider .slick-next:hover,
.favourite .slider .slick-prev:hover,
.favourite .slider .slick-next:hover {
  background: rgba(105, 48, 195, 0.75);
}
.tech .slider .slick-prev:hover::before,
.tech .slider .slick-next:hover::before,
.security .slider .slick-prev:hover::before,
.security .slider .slick-next:hover::before,
.favourite .slider .slick-prev:hover::before,
.favourite .slider .slick-next:hover::before {
  opacity: 1;
}
.tech .slider .slick-prev::before,
.tech .slider .slick-next::before,
.security .slider .slick-prev::before,
.security .slider .slick-next::before,
.favourite .slider .slick-prev::before,
.favourite .slider .slick-next::before {
  font-family: "Inter", Cursive;
}
.tech .slider .slick-prev,
.security .slider .slick-prev,
.favourite .slider .slick-prev {
  left: 550px;
}
@media screen and (max-width: 1399px) {
  .tech .slider .slick-prev,
.security .slider .slick-prev,
.favourite .slider .slick-prev {
    left: 460px;
  }
}
@media screen and (max-width: 1199px) {
  .tech .slider .slick-prev,
.security .slider .slick-prev,
.favourite .slider .slick-prev {
    left: 384px;
  }
}
.tech .slider .slick-prev::before,
.security .slider .slick-prev::before,
.favourite .slider .slick-prev::before {
  content: "<";
}
.tech .slider .slick-next,
.security .slider .slick-next,
.favourite .slider .slick-next {
  right: 550px;
}
@media screen and (max-width: 1399px) {
  .tech .slider .slick-next,
.security .slider .slick-next,
.favourite .slider .slick-next {
    right: 460px;
  }
}
@media screen and (max-width: 1199px) {
  .tech .slider .slick-next,
.security .slider .slick-next,
.favourite .slider .slick-next {
    right: 384px;
  }
}
.tech .slider .slick-next::before,
.security .slider .slick-next::before,
.favourite .slider .slick-next::before {
  content: ">";
}

.security {
  background: #212529;
}
.security .title h6 a:hover {
  color: #838e98 !important;
}
.security .slider .slick-prev,
.security .slider .slick-next {
  font-family: "Inter", Cursive;
  font-size: 0.75rem;
}
.security .slider .slick-prev::before {
  content: "";
}
.security .slider .slick-next::before {
  content: "";
}

.footer {
  background: url("/assets/backgroundimg2.jpg") 0 99% no-repeat;
  background-size: cover;
  padding: 3rem 0;
}
@media screen and (max-width: 1180px) {
  .footer .row {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .footer .row {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer .social {
    justify-content: center;
  }
}
.footer .social > a:hover {
  color: #6930c3 !important;
}
.footer .company .d-flex > a {
  color: #212529;
  margin: 0.3rem 0;
}
.footer .company .d-flex > a:hover {
  color: #6930c3;
  text-decoration: underline;
}
.footer .newsletter {
  padding: 2.5rem 2rem;
}
.footer .newsletter .d-flex .form-control {
  width: 12.5rem;
  margin: 0.8rem 0;
  background: #f8f9fa;
  border-radius: 4rem;
}
.footer .newsletter .d-flex .form-control::placeholder {
  font-size: 0.8rem;
  padding: 0 1rem;
}
.footer .newsletter .btn {
  padding: 0.3rem 1.5rem;
  border-radius: 4rem;
  font-size: 0.8rem;
}
.footer .newsletter .btn:hover {
  background: #6930c3 !important;
}
.footer .copyrights p {
  color: #212529;
}
.footer .copyrights p > a {
  color: #6930c3;
}
.footer .copyrights p > a:hover {
  text-decoration: underline;
}

body {
  background: url("/assets/site-background.png") no-repeat;
  background-size: cover;
}