// BANNER template

.banner {
  background: #903ae5 url("/assets/backgroundimg1.jpg") no-repeat;
  backround-size: cover;

  .space {
    display: flex;
    justify-content: center;
    padding-top: 14rem;
    width: 100%;
    height: 50rem;

    .buttons {
      .btn {
        margin-right: 0.7rem;
        padding: 0.4rem 1.8rem;

        &:hover {
          background: white !important;

          > span {
            color: $dark;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      padding-top: 10rem;
      height: 43.75rem;
    }
  }
}
